.footer {
  background-color: #f5cdcd;
  color: #f1f1f1;
  /* padding: 1.5rem 1rem 0.5rem; */
  font-family: "Segoe UI", sans-serif;
  font-size: 0.9rem;
  height: 156px;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  /* max-width: 800px; */
  margin: 0 20px;
}

.footer-section h4 {
  /* display: flex;
  flex-direction: row; */
  font-size: 1rem;
  margin-bottom: 0.6rem;
  color: #f8b190;
}

.footer-section ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  /* margin-bottom: 0.4rem; */
  padding: 0 10px;
}

.footer-section a {
  color: #7e6f6f;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  /* gap: 0.5rem; */
  font-size: 0.95rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-section a:hover {
  color: #ffd369;
  transform: scale(1.05);
}

.footer-section a svg {
  font-size: 1rem;
}

.social-list li {
  margin-bottom: 0.4rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #333;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  color: #888;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-grid {
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }

  .footer-section {
    width: 100%;
  }
}
