/* .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  color: #1a1a1a;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  justify-content: center;
  text-align: center;
}

.nav-links a:hover {
  transition: color 0.3s ease;
}
.nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  justify-content: center;
  text-align: center;
} 

.connect-btn {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #5f27cd, #b79f63);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.connect-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.navbar {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: none;
  border-bottom: none;
  background-color: white;
}

.navbar a {
  color: #1a1a1a;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  transform: translateY(-4px);
  color: #6b5b95;
} */

.navbar {
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: transparent;
}

.navbar a {
  color: #1a1a1a;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
  color: #6b5b95;
  transform: translateY(-2px);
}

